<h1>我的应用</h1>
<div class="panel panel-primary">
  <div class="panel-heading"> 标题栏</div>
  <div class="panel-body"> 主题区域</div>
  <div class="panel-body"> 主题区域</div>
</div>


<div class="panel panel-primary">  <div class="panel-heading">Heading</div>
  <div class="panel-body">
    <!-- <app-user></app-user> -->
    <!-- <test-model></test-model> -->
    <father></father>
    <!-- <life-cycle></life-cycle> -->
  </div>
  <div class="panel-footer">    <button class="btn btn-success">Success</button>    <button class="btn btn-danger">Danger</button>  </div></div>
